
ul.socialize li
{
    font-size: 24px;
    display: inline;
    
}
.imageborderd
{
    border-width: 2px;
    
}
.welcome {
    color:blue;
    font-size: 80px;
    text-shadow: 1px 1px 1px #ccc;

}
body { 
       background: url(../images/polaroid.png) repeat ;
    }
    
.sf {
    
}
.thumbs {
    margin: 0;
    overflow: hidden;
    padding: 0;
}


.articles-bucket article { border-top: 1px solid #f2f2f0; padding-top: 18px; }

.thumbs li {
    background: none repeat scroll 0 0 #EEEEEE;
    float: left;
    list-style: none outside none;
    margin: 5px;
    padding: 3px;
}
