---
title: my home on the web
description: blog website under works

---

{% extends "columns.j2" %}

{% block main %}
<div class="welcome" style="max-width:100%">
    <h1><strong class="welcome">....</strong></h1>
    <!--<img  class=sf" src="{{media_url('images/sf.jpg')}}"> -->
</div>
<ul id="basicuse" class="thumbs"></ul>
{% markdown %}

{% endmarkdown %}
{% endblock main %}

{% block sidebar %}

<p/>

<br/><br/>
<h3>@me</h3>
<br/><br/>
<p/>
<p> Hi, I am a software engineer by profession,
 I like to code for fun, ski, travel and shoot (nature ;))</p>
  
<br/><br/>
 <p>You can find me here:</p>
<p/> <p/>
<ul class="socialize"> 
    <li>
    <a href="mailto:anupam.aggarwal@gmail.com" ><i class="icon-envelope-alt"></i></a>
    </li>
    <li>
    <a href="http://facebook.com/anupam.aggarwal" ><i class="icon-facebook" ></i></a>
    </li>
    <li>
    <a href="http://www.linkedin.com/profile/view?id=40551358&trk=tab_pro" ><i class="icon-linkedin"></i></a>
    </li>
    <li>
    <a href="http://www.github.com/anupamaggarwal"><i class="icon-github"></i></a>
    </li>
    <li>
    <a href="http://flickr.com/anupamaggarwal" ><i class="icon-camera" ></i></a>
    </li>

</ul>
{% block css %}

{% endblock css %}
{% endblock sidebar %}
