{% extends "columns.j2" %}
{% block title -%}
{{ site.meta.title }} | {{ resource.meta.title }}
{%- endblock title %}

{% block main -%}
<article class="post">
<h2 class="title">
    <a title="{{ resource.meta.title|default(resource.meta.title) }}" href="{{ content_url(resource.url) }}">
        {{ resource.meta.title }}
    </a>
</h2>
<div class="meta">
  <div>Posted on <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}" class="date">{{ resource.meta.created.strftime('%d %b %Y') }}</time>
    </div>
</div>

<div class="entry">
{% filter markdown|typogrify -%}
{% mark post -%}
{% block post -%}{%- endblock %}
{%- endmark %}
{%- endfilter %}
</div>
</article>


-----

{% include "disqus.j2" %}
{%- endblock %}


{% block sidebar %}
{% from "macros.j2" import render_tagbar with context %}
{{ render_tagbar() }}
{% endblock %}


