{% extends "columns.j2" %}

{% from "macros.j2" import render_post_listing %}

{% block main %}
<div class="bloglisting">
{% for res in resource.node.walk_resources_sorted_by_time() %}
    {{ render_post_listing(res) }}
{% if not res == resource.node.walk_resources_sorted_by_time()[-1] %}
<p style="padding-bottom: 4px; color:#404040;border-bottom: 2px dotted #bbb;"></p>
{% endif %}
{% endfor %}

</div>
<div class="pagenavi">
{% if resource.page.next %}
<p class="naviolder"><a href="{{ content_url(resource.page.next.resource.url) }}">&laquo; Older posts</a></p>
{% else %}
<p class="naviolder" id="faded">&laquo;&laquo; Older posts</p>
{% endif %}

{% if resource.page.previous %}
<p class="navinewer"><a href="{{ content_url(resource.page.previous.resource.url) }}">Newer posts &raquo;</a></p>
{% else %}
<p class="navinewer" id="faded">Newer posts &raquo;&raquo;</p>
{% endif %}
</div>
{% endblock %}




{% block sidebar %}
{% from "macros.j2" import render_tagbar with context %}
{{ render_tagbar() }}
{% endblock sidebar%}
