
{# Custom macros borrowed from somewhere #}

{% macro render_excerpt(res, class=None) %}
{% refer to res.url as post %}
<article {{'class='~class if class }}>
<h3><a href="{{ content_url(res.url) }}">{{ res.meta.title }}</a></h3>
<a href="{{ content_url(res.url) }}">{{ post.image|markdown|typogrify }}</a>
{{ post.post|markdown|typogrify }}
<time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    Posted: {{ res.meta.created.strftime('%a, %d %b %Y') }}
</time>
</article>
{% endmacro %}

{% macro render_latest_posts(count=None) -%}
<ul class="latest-posts">
{% for res in site.content.walk_resources_grouped_by_category()|sort(
    reverse=True, attribute='meta.created') %}
{% if count is not none %}
    {% if loop.index > count %}{% break %}{% endif %}
{% endif %}
<li>
    <a href="{{ res.full_url }}">{{ res.meta.title }}</a>
    <time datetime="{{ res.meta.created.strftime('%Y-%m-%d') }}">
    {{ res.meta.created.strftime('%Y-%m-%d') }}
    </time>
</li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro render_share_button(res) %}
{% if res.meta.enable_sharing -%}
<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ full_site_url(res) }}" data-text="{{ res.meta.title }}" data-via="tweetyan" data-related="tweetyan">Tweet</a>
<div class="fb-like" data-href="{{ full_site_url(res) }}" data-send="false" data-width="450" data-show-faces="false"></div>
{%- endif %}
{% endmacro %}
{% macro social_media_links() %}
{% if site.meta.addthis_id %}
<div class="share_links">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_google_plusone" g:plusone:count="false"></a>
    <a class="addthis_button_reddit"></a>
    <a class="addthis_button_email"></a>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid={{ site.meta.addthis_id }}">
var addthis_config =
{
    data_ga_tracker: {{ site.meta.ga_tracking_code }};
}
    </script>
</div>
</div>
{% endif %}
{% endmacro %}

{% macro render_main_menu() -%}
<ul class="nav">
{% for menu_item in menu -%}
  <li{% if menu_item.url == resource.url or menu_item.active %} class="active"{% endif %}><a href="{{ content_url(menu_item.url) }}">{{ menu_item.title }}</a></li>
{%- endfor %}
</ul>
{%- endmacro %}

{% macro render_post_listing(res, class=None) -%}
<div class = "postlisting">
<h3><a href="/{{(res.url)}}">{{ res.meta.title }}</a><br /></h3>
<span style="font-size: small; padding-left: 2px"><i>
Posted on</i> {{ res.meta.created.strftime('%B %d, %Y') }}<br />

{% if res.meta.tags %}
Tags:
{% for tag in res.meta.tags %}
<span style="color: grey">{{ tag }}</span> 
{% endfor %}

{% endif %}
</span>
<p id="postdesc" style="background-color:#E6EBEA;">{{res.meta.description}}</p>
</div> 
{%- endmacro %}


{% macro render_tagbar() %}
<h3>Tags</h3>
<p/>
<div class = "tagcloud">
  {% for tagname, tag in site.tagger.tags -%}
  <span style="font-size: 12px;">
  <a href = "/blog/tags/{{ tagname }}.html">{{ tagname }}</a>
  </span>
  {%- endfor %}
</div>

{% endmacro %}

