{% extends "columns.j2" %}
{% from "macros.j2" import render_post_listing%}
{% block main %}
<div class="archives">
<h3 class="tagtitle">Posts Tagged: {{ tag.name }}</h3>
<ul class="posts">
{% for res in walker() -%}
<li class="post">
    {{ render_post_listing(res) }}
</li>
{# is there a better way to figure out which is last without rending the
   calling the nodes again? #}
{% if not res == walker()[-1] %}
<p style="padding-bottom: 4px; border-bottom: 2px dotted #bbb;"></p>
{% endif %}
{% endfor %}
</ul>
</div>
{% endblock main %}

{% block sidebar %}
{% from "macros.j2" import render_tagbar with context %}
{{ render_tagbar() }}
{% endblock sidebar%}
